<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Image Search API</title>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
  
  
  
<body>

  <h1>Image Search API</h1>  
  
  <p>
    To make a query use: <br/>
    <strong>https://historical-ankle.glitch.me/api/imagesearch/{QUERY}?page={PAGE#}</strong>
    
    
  </p>
  
  
  <p>
    To see recent queries use <br/>
    <strong>https://historical-ankle.glitch.me/api/latest</strong>
    
    
  </p>
  
</body>
</html>